body {
  background-color: rgb(232, 224, 224);
  padding: 0px;
  margin: 0px;

  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

.right {
  margin-left: 60px;
}
.proicon {
  margin-bottom: -20px;
  size: 50%;
  margin-right: 30px;
}

span {
  margin-right: 18px;
  font-size: 13px;
  font-weight: 500;
}
.righticons {
  margin-left: 20px;
}

.icon {
  margin-top: 0px;
}

.usericons {
  width: 100%;
  margin-left: 50px;
}

hr {
  color: #dce0e9;
}
.colf {
  font-size: 15px;
  line-height: 25px;
}
.token {
  margin-top: 20px;
  width: 100%;
}
.banner-shop{
  margin-top: 20px;
}
.coupen {
  width: 100%;
}

.bigsale {
  width: 100%;
  margin-left: -20px;
}
.coupen1 {
  
  width: 100%;
}

.bammer-img1 {
  width: 100%;
}

.gaplogo {
  gap: 10px;
}
nav {
  width: 100%;
  position: sticky;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.flex {
  display: flex;
}

header {
  box-shadow: #282c3f;
  position: sticky;

  height: 0%;
  z-index: 1;
  background: white;
}
input {
  margin-left: 50px;
  width: 50px;
}
.item-center {
  align-items: center;
}

.mx {
  display: flex;
  border-bottom: rgb(180, 33, 146);
  margin-top: 20px;
  padding: 20px;

  margin-left: -40px;

  font-size: 12px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.justify-contenr {
  justify-content: center;
}
.logo {
  width: 50px;
  padding-left: 20px;
}
.coupen2 {
  width: 100%;
}
.profilediv {
  flex-direction: column;
}
.uppercase {
  text-transform: uppercase;
}

.serchbar {
  width: 26vw;
  height: 30px;
  margin-left: 150px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid rgb(250, 247, 247);
  background-color: #f5f5f6;
}
input {
  width: 66%;
  border-radius: 26px;
  border: 1px solid #efebeb;
  padding: 1% 8%;
  margin: 1% 2%;

  background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  background-position: 12px;
  background-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

li {
  padding-left: 0px;

  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-weight: 700px;
}

li a {
  display: block;
  /*color: rgb(23, 22, 22);*/
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 14px;

  outline: none;

  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.mx a:hover,
.dropdown:hover .dropbtn {
  color: black;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: #000000;
  letter-spacing: 0.3px;
  padding: 28px 12px 25px 13px;
  font-weight: 650;
  border-bottom: 2px solid transparent;

  /* Important for vertical align on mobile phones */
}

.dropdown .dropbtn:hover {
  border-bottom: 2px solid red;
}

.studioimg {
  width: 20%;

}
.vkimg {

  width: 500px;
}

.studiobtn {
  display: block;
  margin: 2% 45%;
  width: 20%;
  padding: 10px;
  background-color: #f5f5f6;
  border: 1px solid gray;
  font-size: 16px;
  font-weight: 300;
}

ul .left .flex .item-center {
padding-right: 0px;
margin-left: 80%;

}
.studio {
  margin-top: 20px;
  width: auto;
}
.studio1 {
  margin-top: 20px;
  margin-left: 480px;
}
.studioimg :hover {
  display: block;
  background-color: white;
}

/* Add a red BOOTOM color to navbar links on hover */

a:hover {
  color: black;
}
sup {
  color: red;
  padding-right: 10px;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 80%;
  top: 80px;
  left: 45px;
  margin: auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.outerDiv {
  display: none;
}
.outerDiv:hover {
  display: block;
}
#studioId .outerDiv {
  display: none;
  width: auto;
}

#studioId {
  display: none;
  position: absolute;
  width: 70%;
  height: auto;
  top: 80px;
  left: 200px;
  margin: auto;
  background-color: #faf9f9;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/*.dropdown-content1  {
  display: none;
  
  width: -moz-min-content;
  width: max-content;
  margin: 1em auto;
  top: 80px;
  left: 50px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  height: 80%;
}

.dropdown:hover .outerDiv {
  display: block;
}

.column {
  float: left;
  padding-left: 5px;
  background-color: white;
}
.column1 {
  background-color: rgb(225, 220, 220);
}

/* Style links inside the columns */
.column a {
  float: none;
  display: flex;

  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  display: flex;
}

.row > * {
  flex: 1;
}
i {
  padding-bottom: 20px;
  margin-left: 10px;
}

.Whislist {
  padding-left: 10px;
}

h5 li a {
  color: rgb(210, 73, 77);
  padding: 0px 0px 0px 10px;
  margin: 0px;
}
.droplist {
  line-height: 0%;
  color: #020616;
  font-size: 13px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  height: auto;
  margin: -2px -10px;
}
footer {
  color: #696b79;
  width: 80%;
  padding: 30px 60px 0px 80px;
}

.sideleft {
  margin-left: -120px;
}
.fcoloum {
  width: 30%;
}
.fcoloum1 {
  margin-left: 20%;
}
.fcoloum2 {
  margin-top: -20px;
  width: 50%;
}
.dropbtn1 {
  font-size: 16px;
  margin-left: -10px;
  padding: 0%;
  color: #535766;
  font-weight: 700;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.secdiv {
  margin-top: 40px;
}

.pf {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px 16px;
  line-clamp: 1pc;
  font-size: 14px;
}
.hrline {
  position: relative;
  /*  new lines  */
  max-width: 100%;
}

/*.hrline:after{
  content:"  ";
  height: 1px;
  width: 100%;
  background: rgb(79, 76, 76);
  display: block;
  position: absolute;
  
  top: 50%;
  left:130px ;
}*/
.pf1 {
  font-size: 14px;
}
.pserch {
  margin: 40px 20px;
}
.pserch > a {
  color: #535766;
  margin-top: 30px;
  font-weight: 400;
  line-height: 4px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.og {
  width: 70%;
}
.recycleimg{
  margin: 0px;
  padding: 0px 18px 0px 0px ;
  width: 20%;
}

.col4 {
  padding-right: 50px;
}
.footan {
  font-size: 19px;
}

div .og1 {
  width: 100%;
  margin-left: 0px;
}
.h4 {
  padding-left: 25px;
}

.playb {
  width: 100%;
}
.footdiv {
  width: 80%;
  padding: 30px 0px 0px 0px;
}

.playb1 {
  width: 55%;
}
.buttn {
  width: 70%;
}
.headgap {
  padding: 10px px;
}

.pop {
  position: absolute;
  margin-top: -15px;
  padding-right: 10px;
  color: #282c3f;
  font-size: 12px;
  font-weight: 700;
}

.responsive {
  margin: 25px -20px 25px 30px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  width: 30%;
  overflow-x: auto;
}
.imgshop {
  width: 90%;
}

.responsive1 {
  margin: 30px 0px;
  gap: 20px;
}

img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: 100%;
  }
}

@media all and (max-width: 480px) {
  nav {
    flex-direction: column;
    width: 50%;
    padding-bottom: 2%;
  }
  .flex .serchbar{
 width: fauto;
 padding: 2% 45%;
 margin: 0% 20% 0% -25%;

}
.righticons{
  margin-left: 55%;
}

    
  }

1

